<div class="col-sm-6" title="{{ feed.link }}">
    <div class="card text-white bg-secondary mb-3">
        <h5 class="card-title btn">{{ feed.title }}
            <span class="badge bg-dark">

        {% if feed.privado %}
            Privado
        {% else %}
            Publico
        {% endif %}
                 </span>

            {% if feed.usuario.username == user.username %}
                <a href="/feed/altera_privacidade/{{ feed.id }}"><button class="btn bg-dark badge">Trocar</button></a>
            {% endif %}


        </h5>


      <div class="card-body">
        <p class="card-text">{{ feed.subtitle }}</p>
        <a href="/feed/visualizar/{{ feed.id }}" class="btn btn-dark">Vizualizar</a>

          {% if feed.usuario.username == user.username %}
                <a href="feed/delete/{{ feed.id }}" class="btn btn-danger">Remover</a>
          {% endif %}

      </div>
    </div>
</div>