{% extends "estrutura/estrutura_externa.html" %}
{% block content %}

<div>
    <div class="card text-white bg-secondary" style="width: 25rem;">
        <h5 class="card-title">Login:</h5>

        <div class="card-body">
            <p class="card-text">
            <form action="submit" method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label>Usuario</label>
                    </td>
                    <td>
                        <input type="text" name="usuario">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Senha</label>
                    </td>
                    <td>
                        <input type="password" name="senha">
                    </td>
                </tr>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-dark">Entrar</button>
                <button type="reset" class="btn btn-danger">Limpar</button>
            </div>
            </form>
            {% for message in messages %}
            <strong>*</strong> <i>{{ message }}</i>
            {% endfor %}
            </p>
        </div>
    </div>
</div>

{% endblock %}
