{% extends "estrutura/estrutura_externa.html" %}
{% block content %}
<div class="col-sm-6" title="">
    <div class="card text-white bg-secondary mb-3">
        <h5 class="card-title btn">Login:
            <span class="badge bg-dark"></span>
            <span class="badge bg-dark">
                <a href="/feed/altera_privacidade/{{ feed.id }}">Trocar</a>
            </span>
        </h5>


        <div class="card-body">
            <p class="card-text">
            <form action="submit" method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label>Usuario</label>
                    </td>
                    <td>
                        <input type="text" name="usuario">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Senha</label>
                    </td>
                    <td>
                        <input type="password" name="senha">
                    </td>
                </tr>
            </table>

            <button type="submit" class="btn btn-dark">Entrar</button>
            <button type="reset" class="btn btn-danger">Remover</button>

            </form>
            {% for message in messages %}
            <strong>*</strong> <i>{{ message }}</i>
            {% endfor %}

            </p>

        </div>
    </div>
</div>

{% endblock %}
