
<div id="meus-canais">
    <div>
        Minha Conta:
        <div class="lista">
            <table border="1">
                <tr>
                    <td>Nome:</td> <td>Email:</td> <td>Opções:</td>
                </tr>
                <tr>
                    <td> user </td> <td> user123@host.com </td> <td> <a href="">add</a> <a href="">edit</a> <a href="">dlt</a> </td>
                </tr>
                <tr>
                    <td> user </td> <td> user123@host.com </td> <td> <a href="">add</a> <a href="">edit</a> <a href="">dlt</a> </td>
                </tr>
                <tr>
                    <td> user </td> <td> user123@host.com </td> <td> <a href="">add</a> <a href="">edit</a> <a href="">dlt</a> </td>
                </tr>

            </table>
        </div>
    </div>
</div>