
<div id="meus-canais">
    <div>
        Canais:
        <div class="lista">
            <table border="1">
                <tr>
                    <td>Nome:</td> <td>Categoria:</td> <td>Publico:</td> <td>Link:</td> <td>Opções:</td>
                </tr>
                <tr>
                    <td> NewNews </td> <td>Noticias</td> <td>sim</td> <td>https://asdasdasdasdasd.com</td> <td> <a href="">add</a> <a href="">edit</a> <a href="">dlt</a> </td>
                </tr>
                <tr>
                    <td> NewNews </td> <td>Noticias</td> <td>sim</td> <td>https://asdasdasdasdasd.com</td> <td> <a href="">add</a> <a href="">edit</a> <a href="">dlt</a> </td>
                </tr>
                <tr>
                    <td> NewNews </td> <td>Noticias</td> <td>sim</td> <td>https://asdasdasdasdasd.com</td> <td> <a href="">add</a> <a href="">edit</a> <a href="">dlt</a> </td>
                </tr>

            </table>
        </div>
    </div>
</div>